<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <p-button
      severity="success"
      label="Nuevo"
      icon="pi pi-plus"
      class="mr-2"
      (onClick)="openNew()"
    />
  </ng-template>
</p-toolbar>

  <p-table
      #dt
      [value]="responseApi.data.responseEntidadList"
      [lazy]="true"
      [paginator]="true"
      [rows]="responseApi.data.pageSize"
      [rowsPerPageOptions]="[10, 25, 50]"
      [totalRecords]="responseApi.data.totalElements"
      [responsiveLayout]="'scroll'"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Mostrando de {first} a {last} de un total de {{responseApi.data.totalElements}} registros"
      (onLazyLoad)="onLazyLoad($event)"
  >



    <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Numero de Documento</th>
          <th>Nombre Legal</th>
          <th>Nombre Comercial</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Tipo de Contribuyente</th>
          <th>Tipo de documento</th>
          <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr>
          <td>{{ entity.id }}</td>
          <td>{{ entity.documentNumber }}</td>
          <td>{{ entity.legalName }}</td>
          <td>{{ entity.commercialName }}</td>
          <td>{{ entity.address }}</td>
          <td>{{ entity.phone }}</td>
          <td>{{ entity.taxpayerType }}</td>
          <td>{{ entity.documentTypeResponse.name }}</td>
          <td>
            <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                severity="success"
                (onClick)="editEntidad(entity)" />
            <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [outlined]="true"
                (onClick)="onDeleteEntity(entity)"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        En total hay {{ responseApi.data.totalElements}} entidades.
    </div>
    </ng-template>
</p-table>

  <!-- Diálogo -->
  <p-dialog
    header="Detalles de Entidad"
    [(visible)]="entityDialog"
    [style]="{ width: '450px' }"
    [modal]="true"
    styleClass="p-fluid"
  >
    <app-entity-new-page
      [entity]="selectedEntity"
      (closeDialog)="hideDialog()"
      (refreshEntities)="loadEntities()"
      (dialogToDelete)="openDialogDelete()"
    ></app-entity-new-page>
  </p-dialog>
  <p-confirmDialog [style]="{ width: '450px' }" />
