<div class="card">
  <p-toolbar
    styleClass="bg-gray-900 shadow-2"
    [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--bluegray-500), var(--bluegray-800))' }">
    <ng-template pTemplate="start">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" />
    </ng-template>
    <ng-template pTemplate="center">
      <div class="flex flex-wrap align-items-center gap-3">
        <div *ngFor="let item of menuItems" class="menu-item">
          <button class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200"
                  [routerLink]="item.route">
            <i [class]="item.icon + ' text-2xl'"></i>
          </button>
          <span class="menu-label">{{ item.label }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle" />
        <span class="font-bold text-bluegray-50">{{ username }}</span>
        <!-- Botón de logout -->
        <button
          pButton
          icon="pi pi-power-off"
          class="p-button-rounded p-button-danger"
          (click)="onLogout()"
          pTooltip="Logout"
          tooltipPosition="bottom"
        ></button>
      </div>
    </ng-template>
  </p-toolbar>
</div>

<router-outlet></router-outlet>
